<div class="container profile-edit">
  <div class="row">
    <form action="/profile/<%= user._id %>" method="POST">
      <h3>Edit your profile</h3>
      <div class="row">
        <div class="input-field col s6">
          <input id="name" name="name" value="<%= user.name %>" type="text" class="validate">
          <label for="name">Name</label>
        </div>
        <div class="input-field col s6">
          <input id="surname" name="surname" value="<%= user.surname %>" type="text" class="validate">
          <label for="surname">Surname</label>
        </div>
      </div>
      <h3>Edit your filter preferences</h3>
      <div class="row">
        <div class="input-field col s12">
          <select multiple>
            <% categories.forEach((category) => { %>
              <% if (user.categories.includes(category)) { %>
                <option value="<%= category.toLowerCase() %>" selected ><%= category %></option>
              <% } else { %>
                <option value="<%= category.toLowerCase() %>" ><%= category %></option>
              <% } %>
            <% }) %>
          </select>
          <label>Categories</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="minPrice" name="minPrice" value="<%= user.minPrice %>" type="number" class="validate">
          <label for="minPrice">Minimum price</label>
        </div>
        <div class="input-field col s6">
          <input id="maxPrice" name="maxPrice" value="<%= user.maxPrice %>" type="number" class="validate">
          <label for="maxPrice">Maximum price</label>
        </div>
      </div>
      <button type="submit" class="btn-large btn-config btn-cambalache">
        Save changes
      </button>
      <a href="/profile" class="leave-changes">Leave without changes</a>
    </form>
  </div>
</div>
