<form action="/profile/<%= user._id %>" method="POST">
  Name:
  <input type="text" name="name" value="<%= user.name %>">
  Surname:
  <input type="text" name="surname" value="<%= user.surname %>">

<br>

Preferencias de búsqueda:

<br>

Punto de recogida:
<br>
Categorías:

  <select multiple="multiple" id="categories" name="categories">
    <% categories.forEach((category) =>{%>
      <option value="<%= category.toLowerCase()%>"><%=category%></option>
    <%})%>
  </select>
<br>

Rango de precios:

<button type="submit">Save changes</button>
<a href="/profile">Leave without changes</a>

</form>


<br><form action="/logout">
  <button type="submit">Logout</button>
</form>

<script src="/js/jquery.multi-select.js" type="text/javascript"></script>
