<div class="row profile">
  <div class="col s3 left-info">
    <div class="profile-info">
      <h4>Your profile info:</h4>
      <p><%= user.name %> <%= user.surname %></p>
      <p><%= user.email %></p>
      <h4>Your filter preferences:</h4>
      <p><b>Minimum price:</b> <%= user.minPrice %>€</p>
      <p><b>Maximum price:</b> <%= user.maxPrice %>€</p>
      <p><b>Categories:</b></p>
      <% categories.forEach((category) => { %>
        <div class="chip">
          <%= category %>
        </div>
      <% }) %>
      <br>
      <a href="/profile/<%= user._id %>" class="btn btn-config btn-cambalache left btn-edit-profile"><i class="material-icons">create</i>Edit</a>
      <a href="/search" class="btn btn-config btn-cambalache left"><i class="material-icons">search</i>Find products</a>
    </div>
  </div>
  <div class="col s9 offset-s3 right-info">
    <div class="row">
      <h4 class="left">Your products:</h2>
      <a href="/profile/products/new" class="btn-large btn-config btn-cambalache right"><i class="material-icons">add</i>Add a new product</a>
    </div>
    <div class="row">
      <% if (products.length > 0) { %>
        <% products.forEach((product) => { %>
          <div class="col s12 m4 products">
            <div class="card sticky-action hoverable large">
              <div class="card-image">
                <img src="<%= product.productPhoto%>">
                <span class="card-title"><%= product.productName %></span>
              </div>
              <div class="card-content">
                <p><%= product.productDescription %><p>
              </div>
              <div class="card-action">
                <form action="profile/products/delete/<%= product._id %>" method="POST" class="right">
                  <input type="submit" value="delete" class="btn btn-delete">
                </form>
                <a href="/profile/products/<%= product._id %>" class="btn right btn-edit">Edit</a>
              </div>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <p>You don't have products yet, go ahead and add some.</p>
      <% } %>
    </div>
  </div>
</div>


<!--
<form action="/logout">
  <button type="submit">Logout</button>
</form>

<a href="/profile/products/new">Create New Product </a>

<% if(products.length > 0) { %>


<ul>
  <% products.forEach((product) => { %>
    <li>
      <%= product.productName %> <br>
      <%= product.productDescription %> <br>
      <%= product.productMinPrice %> <br>
      <%= product.productMaxPrice %> <br>
      <%= product.categories %> <br>
      <img class="product-img" src="<%= product.productPhoto%>">
      <a href="/profile/products/<%= product._id %>"> Editar</a> <br>
      <form action="profile/products/delete/<%= product._id %>" method="Post">
        <input type="submit" value="delete">
      </form>
    </li>
  <%})%>
</ul>
<% } else { %>
  <p>No products available</p>
<% } %> -->
