Hola <%= user.name %> <%= user.surname %> <a href="/profile/<%= user._id %>">Editar</a>

<hr>
<hr>



<form action="/logout">
  <button type="submit">Logout</button>
</form>

<a href="/profile/products/new">Create New Product </a>

<% if(products.length > 0) { %>


<ul>
  <% products.forEach((product) => { %>
    <li>
      <%= product.productName %> <br>
      <%= product.productDescription %> <br>
      <%= product.productMinPrice %> <br>
      <%= product.productMaxPrice %> <br>
      <%= product.categories %> <br>
      <img src="<%= product.productPhoto%>">
      <a href="/profile/products/<%= product._id %>"> Editar</a> <br>
      <form action="profile/products/delete/<%= product._id %>" method="Post">
        <input type="submit" value="delete">
      </form>
    </li>
  <%})%>
</ul>
<% } else { %>
  <p>No products available</p>
<% } %>
