<div class="row profile">
  <ul class="collapsible profile-accordion white-text show-on-medium-and-up" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">person</i>Profile and search information</div>
      <div class="collapsible-body">
        <div class="profile-info">
          <h4>Your profile info:</h4>
          <p><i class="material-icons left">person</i><%= user.name %> <%= user.surname %></p>
          <p><i class="material-icons left">email</i><%= user.email %></p>
          <h4>Your filter preferences:</h4>
          <p><i class="material-icons left">euro_symbol</i><b>Minimum price:</b> <%= user.minPrice %>€</p>
          <p><i class="material-icons left">euro_symbol</i><b>Maximum price:</b> <%= user.maxPrice %>€</p>
          <p><i class="material-icons left">label</i><b>Categories:</b></p>
          <div>
            <% categories.forEach((category) => { %>
              <div class="chip">
                <%= category %>
              </div>
            <% }) %>
          </div>
          <% if (typeof(user.pickup) != 'undefined' && user.pickup.name) { %>
            <p><i class="material-icons left">location_on</i><%= user.pickup.name %></p>
          <% } %>
          <a href="/profile/<%= user._id %>" class="btn btn-config btn-cambalache btn-edit-profile"><i class="material-icons">create</i>Edit</a>
          <a href="/search" class="btn btn-config btn-cambalache"><i class="material-icons">search</i>Find products</a>
        </div>
      </div>
    </li>
  </ul>
  <div class="col s3 left-info hide-on-med-and-down">
    <div class="profile-info">
      <h4>Your profile info:</h4>
      <p><i class="material-icons left">person</i><%= user.name %> <%= user.surname %></p>
      <p><i class="material-icons left">email</i><%= user.email %></p>
      <h4>Your filter preferences:</h4>
      <p><i class="material-icons left">euro_symbol</i><b>Minimum price:</b> <%= user.minPrice %>€</p>
      <p><i class="material-icons left">euro_symbol</i><b>Maximum price:</b> <%= user.maxPrice %>€</p>
      <p><i class="material-icons left">label</i><b>Categories:</b></p>
      <div>
        <% categories.forEach((category) => { %>
          <div class="chip">
            <%= category %>
          </div>
        <% }) %>
      </div>
      <% if (typeof(user.pickup) != 'undefined' && user.pickup.name) { %>
        <p><i class="material-icons left">location_on</i><%= user.pickup.name %></p>
      <% } %>
      <a href="/profile/<%= user._id %>" class="btn btn-config btn-cambalache btn-edit-profile"><i class="material-icons">create</i>Edit</a>
      <a href="/search" class="btn btn-config btn-cambalache"><i class="material-icons">search</i>Find products</a>
    </div>
  </div>
  <div class="col s12 l9 offset-l3 right-info">
    <div class="row">
      <h4 class="left">Your products:</h2>
      <a href="/profile/matches" class="btn-large btn-config btn-cambalache right"><i class="material-icons">swap_vert</i>Matches</a>
      <a href="/profile/products/new" class="btn-large btn-config btn-cambalache right new-product-btn"><i class="material-icons">add</i>Add a new product</a>
    </div>
    <div class="row">
      <% if (products.length > 0) { %>
        <% products.forEach((product) => { %>
          <div class="col s12 m4 products">
            <div class="card sticky-action hoverable large">
              <div class="card-image">
                <img src="<%= product.productPhoto%>">
              </div>
              <div class="card-content">
                <h5><b><%= product.productName %></b></h5>
                <p><%= product.productDescription %><p>
                <p><%= product.productMinPrice %>€ - <%= product.productMaxPrice %>€</p>
                <p><i class="material-icons left">location_on</i><%= product.pickup.name %></p>
              </div>
              <div class="card-action product-action">
                <form action="profile/products/delete/<%= product._id %>" method="POST" class="right">
                  <input type="submit" value="delete" class="btn btn-delete">
                </form>
                <a href="/profile/products/<%= product._id %>" class="btn right btn-edit">Edit</a>
              </div>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <p>You don't have products yet, go ahead and add some.</p>
      <% } %>
    </div>
  </div>
</div>
