<div class="container white-container z-depth-1">

  <% if (product.isNew) { %>
    <h3>Create a new product</h2>
  <% } else { %>
    <h3>Edit your product</h2>
  <% } %>

  <% if (typeof(message) !== 'undefined' && message) { %>
    <p><%= message %></p>
  <% } %>

  <div class="row">
    <% if (product.isNew) {%>
      <form action="/profile/products" method="POST" enctype="multipart/form-data">
    <% } else { %>
      <form action="/profile/products/edit/<%= product._id %>" method="POST">
    <% } %>
        <div class="row">
          <div class="input-field col s12">
            <input id="name" name="productName" data-length="30" value="<%= product.productName %>" type="text" class="validate" required>
            <label for="name">Product name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="description" name="productDescription" required data-length="200" class="materialize-textarea"><%= product.productDescription %></textarea>
            <label for="description">Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="minPrice" name="productMinPrice" required value="<%= product.productMinPrice %>" type="number" class="validate">
            <label for="minPrice">Minimum price (€)</label>
          </div>
          <div class="input-field col s6">
            <input id="maxPrice" name="productMaxPrice" required value="<%= product.productMaxPrice %>" type="number" class="validate">
            <label for="maxPrice">Maximum price (€)</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select name="categories" required>
              <% categories.forEach((category) =>{%>
                <option value="<%= category.toLowerCase()%>" <%= product.categories == category ? 'selected' :'' %> ><%=category%></option>
              <% }) %>
            </select>
            <label>Category</label>
          </div>
        </div>
        <% if (product.isNew) {%>
          <div class="row">
            <div class="file-field input-field">
              <div class="btn btn-cambalache">
                <span>Photo</span>
                <input type="file" name="pic" required>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
        <% } %>

        <div class="row">
          <div class="input-field col s12">
            <select name="pickup" required>
              <% pickups.forEach((pickup) => { %>
                <option value="<%= pickup.id %>" <%= pickup.id == product.pickup ? 'selected' : '' %> ><%= pickup.name %></option>
              <% }) %>
            </select>
            <label>Pickup point</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div id="map" class="map"></div>
          </div>
        </div>

        <% if (product.isNew) {%>
          <button type="submit" class="btn-large btn-config btn-cambalache">
            Create new product
          </button>
        <% } else { %>
          <button type="submit" class="btn-large btn-config btn-cambalache">
            Edit your product
          </button>
        <% } %>
    </form>
  </div>
</div>


<script type="text/javascript">
  var map;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.416631, lng: -3.703748},
      zoom: 13,
    });
  }
</script>

<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJf0SFMueAL09OaMq4QHvqlLiSOTTkDZA&callback=initMap"></script>

<script type="text/javascript">

 <% pickups.forEach((pickup, index) => { %>
    var contentString = '<div>' +
    '<h6 class="firstHeading">' + '<%= pickup.name %>' + '</h6>' +
    '<p><b>' + 'Opening hour: ' + '</b>' + '<%= pickup.openHour %>:00h' + '</p>' +
    '<p><b>' + 'Closing hour: ' + '</b>' + '<%= pickup.closeHour %>:00h' + '</p>' +
    '</div>';

    var infoWindow<%= index %> = new google.maps.InfoWindow({
      content: contentString
    });

    var marker<%= index %> = new google.maps.Marker({
      position: {
        lat: <%= pickup.location.coordinates[0] %>,
        lng: <%= pickup.location.coordinates[1] %>
      },
      map: map
    });

    marker<%= index %>.addListener('click', function() {
      infoWindow<%= index %>.open(map, marker<%= index %>);
    });
<%})%>
</script>