<% if (product.isNew) { %>
 <h2>Create a new product</h2>
<% } else { %>
 <h2>Edit your product</h2>
<% } %>

<% if (product.isNew) {%>
  <form action="/profile/products" method="POST" enctype="multipart/form-data">
<% } else { %>
  <form action="/profile/<%= product.id %>" method="Post" enctype="multipart/form-data">
<% } %>
  Product Name:
  <input type="text" name="productName" value="<%= product.productName%>">
  Description:
  <input type="text" name="productDescription" value="<%= product.productDescription%>">
  Minimum Price:
  <input type="number" name="productMinPrice" value="<%= product.productMinPrice%>">
  maximum Price
  <input type="number" name="productMaxPrice" value="<%= product.productMaxPrice%>" >
  photo
  <input type="file" name="pic" />

  <% if (product.isNew) {%>
    <button type="submit">Create new product</button>
  <% } else { %>
    <button type="submit">Edit your product</button>
  <% } %>


</form>
