<!--<% if(products.length > 0) { %>
  <% products.forEach((product) => { %>
  <li>
    <%= product.productName %> <br>
    <%= product.productDescription %> <br>
    <%= product.productMinPrice %> <br>
    <%= product.productMaxPrice %> <br>
    <%= product.categories %> <br>
    <img src="<%= product.productPhoto%>"><br>
    <a href="/search/<%= product._id %>">I like it</a>
  </li>
<% }) %>
<% } else { %>
  <p>No products available with your preferences, try another search</p>
<% } %>-->

<div class="container">
  <h4>Products with your filters</h4>
  <% if(products.length > 0) { %>
    <div class="row">
      <% products.forEach((product) => { %>
        <div class="col s12 m4 products">
          <div class="card sticky-action hoverable large">
            <div class="card-image">
              <img src="<%= product.productPhoto%>">
            </div>
            <div class="card-content">
              <h5><b><%= product.productName %></b></h5>
              <p><%= product.productDescription %><p>
              <p><%= product.productMinPrice %>€ - <%= product.productMaxPrice %>€</p>
              <p><i class="material-icons left">location_on</i><%= product.pickup.name %></p>
            </div>
            <div class="card-action">
              <a href="/search/<%= product._id %>" class="btn btn-config btn-like"><i class="material-icons left">favorite</i>I like it</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    <p>No products available with your preferences, try another search</p>
  <% } %>
</div>

