<div class="container white-container z-depth-1">
  <h4>You want this product</h4>
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card hoverable medium">
        <div class="card-image">
          <img src="<%= product.productPhoto%>">
        </div>
        <div class="card-content">
          <h5><b><%= product.productName %></b></h5>
          <p><%= product.productDescription %><p>
          <p><%= product.productMinPrice %>€ - <%= product.productMaxPrice %>€</p>
          <p><i class="material-icons left">location_on</i><%= product.pickup.name %></p>
        </div>
      </div>
    </div>
  </div>
  <h4>Choose one of your products to exchange</h4>
  <div class="row">
    <% userProducts.forEach((userProduct) => { %>
      <div class="col s6 m4">
        <div class="card medium hoverable">
          <div class="card-image">
            <img src="<%= userProduct.productPhoto %>">
          </div>
          <div class="card-content">
            <p><b><%= userProduct.productName %></b></p>
            <p><%= userProduct.productName %></p>
          </div>
          <div class="card-action">
            <a href="/match/<%= product._id %>/<%= userProduct._id %>" class="btn btn-config"><i class="material-icons left">repeat</i>Select for exchange</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>