<!--Product name: <%= product.productName %><br>
Description: <%= product.productDescription %><br>
Minimum price: <%= product.productMinPrice %><br>
Maximum price: <%= product.productMaxPrice %><br><br><br>

Your products: <br>
<ul>
  <% userProducts.forEach((userProduct) => { %>
    <li>
      Product name: <%= userProduct.productName %>
      <a href="/match/<%= product._id %>/<%= userProduct._id %>">Create the exchange</a>
    </li>
  <% }) %>
</ul>-->

<div class="container product-selection">
  <h4>You want this product</h4>
  <div class="row">
    <div class="product-selected col s12 m6 offset-m3 z-depth-2 hoverable">
      <div class="circle product-img">
        <img src="<%= product.productPhoto %>" class="responsive-img">
      </div>
      <h5><b><%= product.productName %></b></h5>
      <p><%= product.productDescription %></p>
    </div>
  </div>
  <h4>Choose one of your products to exchange</h4>
  <div class="row">
    <% userProducts.forEach((userProduct) => { %>
      <div class="col s6 m4">
        <div class="card small hoverable">
          <div class="card-image">
            <img src="<%= userProduct.productPhoto %>">
          </div>
          <div class="card-content">
            <p><b><%= userProduct.productName %></b></p>
            <p><%= userProduct.productName %></p>
          </div>
          <div class="card-action">
            <a href="/match/<%= product._id %>/<%= userProduct._id %>" class="btn btn-config"><i class="material-icons left">repeat</i>Select for exchange</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>